@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "../javascripts/components/navbar.scss";
@import "../javascripts/components/userList.scss";
@import "../javascripts/components/addMessage.scss";

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.app-area {
  position: absolute;
  top: 180px;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: calc(100vw - 180px);
}

.controls-container {
  margin: 20px;
  button {
    margin: 10px;
    width: 200px;
  }
}

// layout divs:

#top {
  width:100vw;
  position:fixed;
  top:0;
  left:0;
  height: 140px;
}

#user-messages {
  position: fixed;
  top: 180px;
  left: 0;
  height: calc(100vh - 460px);
  overflow: auto;
  background-color: lightblue;
  width: calc(100vw - 290px);
  padding: 20px;
}

#controls-container {
  position: fixed;
  top: 180px;
  right: 0;
  height: calc(100vh - 460px);
  background-color: blue;
  width: 275px;
  justify-content: center;
  button {
    margin: 10px;
    width: 200px;
  }
}

#bottom-l {
  width: calc(100vw - 280px);
  bottom: 0;
  left: 0;
  height: 250px;
  position:fixed;
  background-color: #FAF000;
}

#bottom-r {
  width: 275px;
  bottom: 0;
  right: 0;
  height: 250px;
  position: fixed;
  background-color: grey;
}