@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "../javascripts/components/navbar.scss";
@import "../javascripts/components/userList.scss";
@import "../javascripts/components/addMessage.scss";
@import "../javascripts/components/largeText.scss";

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.app-area {
  position: absolute;
  top: 180px;
  display: flex;
  flex-direction: row;
}

.controls-container {
  margin: 20px;
  button {
    margin: 10px;
    width: 200px;
  }
}
