@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: blue;
}

// this is temporary, change as needed for dark and light mode:
#user-list {
  background-color: grey;
  color: white;
};

input:checked ~ span {
  border-color: black;
  font-weight: bold;
}