.messages-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  width: 30vw;
  margin: 20px;
  // height: 70vh;
  position: relative;
  // top: 0px;
  // overflow: auto;
}
.card {
  margin: 10px;
}
