
.messages-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vw;
  margin: 20px;
  background-color: #D7D7D7;
  border-radius: .3em;
  
}
.card {
  margin: 10px;
  box-shadow: 2px 2px 15px #6C6C6C;
}
