textarea {
  display: flex;
  position: fixed;
  width: 65%;
  height: 15%;
  bottom: 3rem;
  left: 15%;
  border-radius: 5px 5px 5px 5px;
}

button#submit {
  display: flex;
  position: fixed;
  bottom: 3rem;
  left: 81%;
}
