#compose-area {
  
  #text {
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 0px solid #000000;
    width: 640px;
    height: 240px;
  }

  #submit {
    margin-left: 1rem;
    margin-bottom: 2rem;
    height: 38px;
  }
  
  #form {
    display: flex;
  }

  button {
    background-color: #6C757D;
    color: white;
    border-color: #6C757D;
  }
}
