@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Ranchers&display=swap');

#navbar {
  margin: 0;
  width: 100%;
  position: fixed;
  height: 180px;
  display: flex;
  background-color: white;

  img {
    height: 150px;
    left: 150px;
  }

  h1 {
    vertical-align: middle;
    font-family: 'Bangers', cursive;
    display: inline;
    letter-spacing: .5em;
    font-size: 3rem;
  }
}
