#user-list {
  background-color: rgb(36, 36, 36);
  color: white;
  width: 200px;
  margin: 10px;
  height: auto;
  border-radius: 2%;

  form {
    padding: 15px;
    legend {
      font-size: 1em;
      color: lightgray;
    }
  }
};

#user-list:hover {
  background-color: #5f5f5f;
  border-color: #545b62;
}

input:checked ~ span {
  border-color: black;
  font-weight: bold;
}
